<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="align-center-center">
        <app-back-button></app-back-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="align-center-center container-title">
        <h1 class="font-waterlily title-decoration">A Propos</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="align-center-center">
        <ion-card class="card-style">
          <ion-card-header>
            <div>
              <ion-img class="img-form"
                src="https://img.discogs.com/4Fm1SQVUU0lmQUwSorbybBiicHo=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-1400317-1335717476.png.jpg">
              </ion-img>
            </div>
            <ion-card-title class="font-mithella-bold text-color-black">Thibault</ion-card-title>
          </ion-card-header>
          <ion-card-content class="font-mithella-regular text-color-black">
            <p class="font-mithella-regular text-color-black">
              06.63.99.99.78<br>
              lebateaudethibault@gmail.com<br>
              www.facebook.com/lebateaudethibault
            </p>
            <br>
            <p class="font-mithella-regular text-color-black">
              Emmenez-moi au bout de la terre<br>
              Emmenez-moi au pays des merveilles<br>
              Il me semble que la misère<br>
              Serait moins pénible au soleil<br>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>